Repository sunya9/mivi: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

lefthook.yml:

pre-commit:
  commands:
    eslint:
      glob: "*.{tsx,ts,json}"
      run: |
        pnpm dlx eslint --fix {staged_files}
      stage_fixed: true
      skip:
        - merge
        - rebase
    prettier:
      glob: "*.{tsx,ts,json,md,yml,yaml}"
      run: |
        pnpm dlx prettier --write {staged_files}
      stage_fixed: true
      skip:
        - merge
        - rebase

chore: update action versions in CI and CodeQL workflows
  .github/workflows/auto-merge-dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
Due: prettier

refactor: enable oxlint perf rules and fix violations
  .oxlintrc.json
  src/hooks/use-dnd.tsx
  src/lib/colors/tailwind-colors.ts
  src/lib/midi/use-midi.ts
  tests/components/grid-resizable/grid-resizable-context.test.tsx
Due: eslint, prettier

refactor: replace eslint with oxlint
  .claude/hooks/post-edit.sh
  .github/dependabot.yml
  .oxlintrc.json
  eslint.config.js
  lefthook.yml
  package.json
  pnpm-lock.yaml
  src/lib/media-compositor/media-compositor.ts
  tests/bench/memory-benchmark.browser.ts
  tests/lib/audio/run-decode-worker.browser.ts
  tests/lib/midi/use-midi.test.tsx
Due: eslint, prettier

refactor: replace eslint with oxlint (#526)
  .claude/hooks/post-edit.sh
  .github/dependabot.yml
  .oxlintrc.json
  eslint.config.js
  lefthook.yml
  package.json
  pnpm-lock.yaml
  src/hooks/use-dnd.tsx
  src/lib/colors/tailwind-colors.ts
  src/lib/media-compositor/media-compositor.ts
  src/lib/midi/use-midi.ts
  tests/bench/memory-benchmark.browser.ts
  tests/components/grid-resizable/grid-resizable-context.test.tsx
  tests/lib/audio/run-decode-worker.browser.ts
  tests/lib/midi/use-midi.test.tsx
Due: eslint, prettier

refactor: enable vitest/require-mock-type-parameters
  .oxlintrc.json
  tests/components/app/app-header.test.tsx
  tests/components/app/audio-visualizer-config-panel.test.tsx
  tests/components/app/canvas.test.tsx
  tests/components/app/common-config-pane.test.tsx
  tests/components/app/footer-panel.test.tsx
  tests/components/app/hue-randomize-dialog.test.tsx
  tests/components/app/midi-visualizer.test.tsx
  tests/components/app/mobile-bottom-nav.test.tsx
  tests/components/app/renderer-controller.test.ts
  tests/components/app/settings-dialog.test.tsx
  tests/components/app/track-item.test.tsx
  tests/components/app/track-list-pane.test.tsx
  tests/components/common/color-picker-input.test.tsx
  tests/components/common/file-button.test.tsx
  tests/components/grid-resizable/grid-resizable-separator.test.tsx
  tests/components/providers/fallback.test.tsx
  tests/hooks/use-animation-frame.test.ts
  tests/hooks/use-dnd.test.tsx
  tests/hooks/use-local-storage.test.ts
  tests/lib/background-image/use-background-image.test.ts
  tests/lib/media-compositor/media-compositor.browser.ts
  tests/lib/midi/use-midi.test.tsx
  tests/lib/player/audio-playback-store.test.ts
  tests/lib/pwa/use-pwa-state.test.ts
  tests/lib/recorder/recorder.worker.test.ts
  tests/lib/recorder/run-recorder-worker.test.ts
  tests/lib/recorder/use-recorder.test.ts
  tests/lib/renderers/audio-visualizer-overlay.test.ts
  tests/lib/renderers/background-renderer.test.ts
  tests/lib/renderers/comet/comet-config.test.tsx
  tests/lib/renderers/piano-roll/piano-roll-config.test.tsx
  tests/lib/utils.test.ts
  tests/pwa-mock.ts
  tests/raf-stub.ts
  tests/setup.ts
Due: eslint, prettier

refactor: extract renderDialog helper in hue-randomize-dialog test
  tests/components/app/hue-randomize-dialog.test.tsx
Due: eslint, prettier

refactor: extract mock factory helpers across test files
  tests/components/app/audio-visualizer-config-panel.test.tsx
  tests/components/app/canvas.test.tsx
  tests/components/app/common-config-pane.test.tsx
  tests/components/app/footer-panel.test.tsx
  tests/components/app/midi-visualizer.test.tsx
  tests/components/app/mobile-bottom-nav.test.tsx
  tests/components/app/renderer-controller.test.ts
  tests/components/app/settings-dialog.test.tsx
  tests/components/grid-resizable/grid-resizable-separator.test.tsx
  tests/hooks/use-animation-frame.test.ts
  tests/hooks/use-dnd.test.tsx
  tests/lib/recorder/run-recorder-worker.test.ts
  tests/lib/renderers/audio-visualizer-overlay.test.ts
  tests/lib/renderers/background-renderer.test.ts
  tests/lib/utils.test.ts
Due: eslint, prettier

fix: repair RafStub cancellation and unify canvas test mocks
  tests/components/app/canvas.test.tsx
  tests/raf-stub.ts
Due: eslint, prettier

test: stub createImageBitmap for background image decode
  tests/lib/background-image/use-background-image.test.ts
Due: eslint, prettier

refactor: enable vitest/require-mock-type-parameters (#527)
  .oxlintrc.json
  tests/components/app/app-header.test.tsx
  tests/components/app/audio-visualizer-config-panel.test.tsx
  tests/components/app/canvas.test.tsx
  tests/components/app/common-config-pane.test.tsx
  tests/components/app/footer-panel.test.tsx
  tests/components/app/hue-randomize-dialog.test.tsx
  tests/components/app/midi-visualizer.test.tsx
  tests/components/app/mobile-bottom-nav.test.tsx
  tests/components/app/renderer-controller.test.ts
  tests/components/app/settings-dialog.test.tsx
  tests/components/app/track-item.test.tsx
  tests/components/app/track-list-pane.test.tsx
  tests/components/common/color-picker-input.test.tsx
  tests/components/common/file-button.test.tsx
  tests/components/grid-resizable/grid-resizable-separator.test.tsx
  tests/components/providers/fallback.test.tsx
  tests/hooks/use-animation-frame.test.ts
  tests/hooks/use-dnd.test.tsx
  tests/hooks/use-local-storage.test.ts
  tests/lib/background-image/use-background-image.test.ts
  tests/lib/media-compositor/media-compositor.browser.ts
  tests/lib/midi/use-midi.test.tsx
  tests/lib/player/audio-playback-store.test.ts
  tests/lib/pwa/use-pwa-state.test.ts
  tests/lib/recorder/recorder.worker.test.ts
  tests/lib/recorder/run-recorder-worker.test.ts
  tests/lib/recorder/use-recorder.test.ts
  tests/lib/renderers/audio-visualizer-overlay.test.ts
  tests/lib/renderers/background-renderer.test.ts
  tests/lib/renderers/comet/comet-config.test.tsx
  tests/lib/renderers/piano-roll/piano-roll-config.test.tsx
  tests/lib/utils.test.ts
  tests/pwa-mock.ts
  tests/raf-stub.ts
  tests/setup.ts
Due: eslint, prettier

fix: keep frame timebase at i / fps after ceiling the frame total
  src/lib/media-compositor/media-compositor.ts
Due: eslint, prettier

fix: correct export ETA for concurrently progressing encode phases
  src/lib/media-compositor/export-progress-tracker.ts
  src/lib/media-compositor/media-compositor.ts
  tests/lib/media-compositor/export-progress-tracker.test.ts
Due: eslint, prettier

ci: group codeql-action updates in dependabot
  .github/dependabot.yml
Due: prettier

ci: narrow codeql group pattern to subpath actions
  .github/dependabot.yml
Due: prettier

fix: correct export ETA for concurrently progressing encode phases (#528)
  src/lib/media-compositor/export-progress-tracker.ts
  src/lib/media-compositor/media-compositor.ts
  tests/lib/media-compositor/export-progress-tracker.test.ts
Due: eslint, prettier

ci: group codeql-action updates in dependabot (#538)
  .github/dependabot.yml
Due: prettier

chore: resolve knip configuration hints
  knip.json
Due: eslint, prettier

feat: drop minutes and zero-padding from sub-minute ETA display
  src/components/app/app-header.tsx
  src/lib/media-compositor/export-progress-tracker.ts
  tests/lib/media-compositor/export-progress-tracker.test.ts
Due: eslint, prettier

feat: drop minutes and zero-padding from sub-minute ETA display (#541)
  src/components/app/app-header.tsx
  src/lib/media-compositor/export-progress-tracker.ts
  tests/lib/media-compositor/export-progress-tracker.test.ts
Due: eslint, prettier

refactor: replace sonner with Base UI toast
  package.json
  pnpm-lock.yaml
  src/app.tsx
  src/components/ui/sonner.tsx
  src/components/ui/toast.tsx
  src/lib/audio/use-audio.ts
  src/lib/background-image/use-background-image.ts
  src/lib/media-compositor/use-recorder.ts
  src/lib/midi/use-midi.ts
  src/lib/utils.ts
  tests/app.browser.tsx
  tests/lib/audio/use-audio.test.tsx
  tests/lib/background-image/use-background-image.test.ts
  tests/lib/file-db/use-indexed-db.test.ts
  tests/lib/midi/use-midi.test.tsx
  tests/lib/recorder/use-recorder.test.ts
  tests/lib/utils.test.ts
  tests/setup.ts
Due: eslint, prettier

chore: replace deprecated only-allow with devEngines.packageManager
  package.json
  pnpm-lock.yaml
Due: eslint, prettier

refactor: address review feedback on toast module
  src/components/ui/toast.tsx
  src/hooks/use-dnd.tsx
  src/lib/audio/use-audio.ts
  src/lib/background-image/use-background-image.ts
  src/lib/error-toast.ts
  src/lib/file-db/file-db-store.ts
  src/lib/media-compositor/use-recorder.ts
  src/lib/utils.ts
  tests/hooks/use-dnd.test.tsx
  tests/lib/error-toast.test.ts
  tests/lib/utils.test.ts
Due: eslint, prettier

chore: remove entry field from knip configuration
  knip.json
Due: eslint, prettier

chore: resolve knip hints and replace deprecated only-allow (#542)
  knip.json
  package.json
  pnpm-lock.yaml
Due: eslint, prettier

refactor: replace sonner with Base UI toast (#543)
  package.json
  pnpm-lock.yaml
  src/app.tsx
  src/components/ui/sonner.tsx
  src/components/ui/toast.tsx
  src/hooks/use-dnd.tsx
  src/lib/audio/use-audio.ts
  src/lib/background-image/use-background-image.ts
  src/lib/error-toast.ts
  src/lib/file-db/file-db-store.ts
  src/lib/media-compositor/use-recorder.ts
  src/lib/midi/use-midi.ts
  src/lib/utils.ts
  tests/app.browser.tsx
  tests/hooks/use-dnd.test.tsx
  tests/lib/audio/use-audio.test.tsx
  tests/lib/background-image/use-background-image.test.ts
  tests/lib/error-toast.test.ts
  tests/lib/file-db/use-indexed-db.test.ts
  tests/lib/midi/use-midi.test.tsx
  tests/lib/recorder/use-recorder.test.ts
  tests/lib/utils.test.ts
  tests/setup.ts
Due: eslint, prettier

ci: replace pnpm/action-setup + setup-node with pnpm/setup
  .github/workflows/ci.yml
Due: prettier

chore: clean up README formatting and remove unnecessary lines
  README.md
Due: prettier

chore(deps-dev): bump typescript from 6.0.3 to 7.0.2
  package.json
  pnpm-lock.yaml
Due: eslint, prettier

ci: replace pnpm/action-setup + setup-node with pnpm/setup (#544)
  .github/workflows/ci.yml
Due: prettier

chore(deps-dev): bump typescript from 6.0.3 to 7.0.2 (#545)
  package.json
  pnpm-lock.yaml
Due: eslint, prettier

refactor: replace next-themes with in-house theme provider
  index.html
  package.json
  pnpm-lock.yaml
  src/components/app/theme-settings.tsx
  src/components/providers/providers.tsx
  src/components/providers/theme-provider.tsx
  src/contexts/theme-context.ts
  tests/components/app/settings-dialog.test.tsx
  tests/components/providers/theme-provider.test.tsx
  tests/test-providers.tsx
Due: eslint, prettier

refactor: author FOUC-prevention script in TypeScript and inline it at build time
  index.html
  src/components/app/theme-settings.tsx
  src/lib/theme-init.ts
  tests/lib/theme-init.test.ts
  vite.config.ts
Due: eslint, prettier

refactor: drop FOUC-prevention inline script
  src/lib/theme-init.ts
  tests/lib/theme-init.test.ts
  vite.config.ts
Due: eslint, prettier

test: address Copilot review (explicit light default in wrappers, restore console.error spy)
  tests/components/app/settings-dialog.test.tsx
  tests/components/providers/theme-provider.test.tsx
Due: eslint, prettier

refactor: replace next-themes with in-house theme provider (#546)
  package.json
  pnpm-lock.yaml
  src/components/app/theme-settings.tsx
  src/components/providers/providers.tsx
  src/components/providers/theme-provider.tsx
  src/contexts/theme-context.ts
  tests/components/app/settings-dialog.test.tsx
  tests/components/providers/theme-provider.test.tsx
  tests/test-providers.tsx
Due: eslint, prettier

chore: tweak ui
  src/components/app/app-header.tsx
  src/components/app/settings-dialog.tsx
  src/components/ui/scroll-area.tsx
  src/components/ui/sidebar.tsx
  src/index.css
  tests/components/app/settings-dialog.test.tsx
Due: eslint, prettier

fix: update test include paths in vite.config.ts
  vite.config.ts
Due: eslint, prettier

chore: add .git-blame-ignore-revs for import reorganization
  .git-blame-ignore-revs
Due: none

feat: add support check for FileSystemWritableFileStream in browser APIs
  src/lib/browser-compat/browser-compat.ts
Due: eslint, prettier
