Repository sunya9/mivi: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

eslint:
  run: 'pnpm dlx eslint --fix {staged_files}
  
    '
  stage_fixed: true
  skip:
  - merge
  - rebase

prettier:
  run: 'pnpm dlx prettier --write {staged_files}
  
    '
  stage_fixed: true
  skip:
  - merge
  - rebase

fix(visualizer): keep panel visible briefly after slider interaction ends
  src/hooks/use-panel-visibility.ts
  tests/hooks/use-panel-visibility.test.ts
Due: eslint, prettier

refactor(visualizer): simplify className assignment for panel visibility
  src/components/app/midi-visualizer.tsx
Due: eslint, prettier

refactor(visualizer): extract panel visibility logic into usePanelVisibility hook
  src/components/app/canvas.tsx
  src/components/app/midi-visualizer.tsx
  src/hooks/use-panel-visibility.ts
  tests/components/app/canvas.test.tsx
  tests/components/app/midi-visualizer.test.tsx
  tests/hooks/use-panel-visibility.test.ts
  types/react.d.ts
Due: eslint, prettier

refactor(midi): remove console log from setMidiFile function
  src/lib/midi/use-midi.ts
Due: eslint, prettier

refactor(deps): migrate from @radix-ui/* to unified radix-ui package
  .github/dependabot.yml
  package.json
  pnpm-lock.yaml
  src/components/app/mobile-bottom-nav.tsx
  src/components/grid-resizable/grid-resizable-panel.tsx
  src/components/ui/badge.tsx
  src/components/ui/button-group.tsx
  src/components/ui/checkbox.tsx
  src/components/ui/dropdown-menu.tsx
  src/components/ui/item.tsx
  src/components/ui/menubar.tsx
  src/components/ui/progress.tsx
  src/components/ui/radio-group.tsx
  src/components/ui/scroll-area.tsx
  src/components/ui/select.tsx
  src/components/ui/separator.tsx
  src/components/ui/sheet.tsx
  src/components/ui/slider.tsx
  src/components/ui/switch.tsx
  src/components/ui/tabs.tsx
  src/components/ui/tooltip.tsx
  vite.config.ts
Due: eslint, prettier

refactor(ui): replace ColorPickerButton with ColorPickerInput component
  src/components/app/audio-visualizer-config-panel.tsx
  src/components/app/common-config-pane.tsx
  src/components/app/piano-roll-config-panel.tsx
  src/components/app/track-item.tsx
  src/components/common/color-picker-button.tsx
  src/components/common/color-picker-input.tsx
  tests/app.browser.tsx
  tests/components/app/audio-visualizer-config-panel.test.tsx
  tests/components/app/common-config-pane.test.tsx
  tests/components/app/track-item.test.tsx
  tests/components/common/color-picker-button.test.tsx
  tests/components/common/color-picker-input.test.tsx
Due: eslint, prettier

chore(deps): update package versions in pnpm-lock.yaml
  pnpm-lock.yaml
Due: prettier

chore(deps): update dependencies in pnpm-lock.yaml
  pnpm-lock.yaml
Due: prettier

chore(deps): update multiple dependencies in package.json and pnpm-lock.yaml
  package.json
  pnpm-lock.yaml
Due: eslint, prettier

chore(deps): update dependencies and add security overrides
  package.json
  pnpm-lock.yaml
Due: eslint, prettier

fix: add tailwindStylesheet to prettierrc and reformat classes
  .prettierrc
  src/app.tsx
  src/components/app/about-content.tsx
  src/components/app/app-header.tsx
  src/components/app/footer-panel.tsx
  src/components/app/hue-randomize-dialog.tsx
  src/components/app/midi-visualizer.tsx
  src/components/app/mobile-bottom-nav.tsx
  src/components/app/track-item.tsx
  src/components/common/color-picker-input.tsx
  src/components/grid-resizable/grid-resizable-separator.tsx
  src/components/providers/fallback.tsx
  src/components/providers/loading.tsx
  src/components/ui/alert.tsx
  src/components/ui/button-group.tsx
  src/components/ui/card.tsx
  src/components/ui/checkbox.tsx
  src/components/ui/dialog.tsx
  src/components/ui/dropdown-menu.tsx
  src/components/ui/input-group.tsx
  src/components/ui/input.tsx
  src/components/ui/item.tsx
  src/components/ui/kbd.tsx
  src/components/ui/menubar.tsx
  src/components/ui/progress.tsx
  src/components/ui/radio-group.tsx
  src/components/ui/scroll-area.tsx
  src/components/ui/select.tsx
  src/components/ui/separator.tsx
  src/components/ui/sheet.tsx
  src/components/ui/sidebar.tsx
  src/components/ui/skeleton.tsx
  src/components/ui/slider.tsx
  src/components/ui/switch.tsx
  src/components/ui/tabs.tsx
  src/components/ui/textarea.tsx
  src/components/ui/tooltip.tsx
  src/hooks/use-dnd.tsx
Due: eslint, prettier

feat: upgrade to Vite 8 and tsgo
  .claude/hooks/post-edit.sh
  .github/dependabot.yml
  .gitignore
  .oxfmtrc.json
  .oxlintrc.json
  .prettierignore
  .prettierrc
  eslint.config.js
  lefthook.yml
  package.json
  pnpm-lock.yaml
  src/components/app/app-header.tsx
  src/components/app/hue-randomize-dialog.tsx
  src/hooks/use-dnd.tsx
  tests/lib/media-compositor/media-compositor.browser.ts
  tests/setup.ts
  tsconfig.app.json
  tsconfig.json
  types/util.d.ts
  vite.config.ts
Due: eslint, prettier

refactor(hue-dialog): use ButtonGroup and improve preset layout
  src/components/app/hue-randomize-dialog.tsx
Due: eslint, prettier

feat: add knip
  knip.json
  package.json
  pnpm-lock.yaml
Due: eslint, prettier

refactor: remove dropdown-menu
  src/components/ui/dropdown-menu.tsx
Due: eslint, prettier

refactor: remove player.ts
  src/lib/player/player.ts
Due: eslint, prettier

chore: configure knip settings
  knip.json
Due: eslint, prettier

refactor: remove unused exports and files detected by knip
  src/components/grid-resizable/index.ts
  src/components/ui/item.tsx
  src/lib/audio/audio-analyzer.ts
  src/lib/audio/fft-precompute.ts
  src/lib/browser-compat/browser-compat.ts
  src/lib/muxer/muxer.ts
  src/lib/player/audio-playback-store.ts
  src/lib/renderers/piano-roll/noise-texture-renderer.ts
Due: eslint, prettier

chore: add knip to post-edit hook
  .claude/hooks/post-edit.sh
Due: none

ci: add knip check to build workflow
  .github/workflows/build-common.yml
Due: prettier

ci: simplify deploy workflow to use push trigger
  .github/workflows/deploy.yml
Due: prettier

ci: unify CI and deploy into single workflow
  .github/workflows/build-test.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
Due: prettier

refactor: use arrow function syntax for callback props
  src/components/app/app-header.tsx
  src/hooks/use-dnd.tsx
Due: eslint, prettier

refactor: extract createBeforeInstallPromptEvent test helper
  tests/lib/pwa/use-pwa-state.test.ts
  types/util.d.ts
Due: eslint, prettier

refactor: remove unused indexedDB stubGlobal and fix test helper
  tests/lib/pwa/use-pwa-state.test.ts
  tests/setup.ts
Due: eslint, prettier

fix(ci): move concurrency to deploy job only
  .github/workflows/ci.yml
Due: prettier

Path conditions:
  eslint: any of: *.{tsx,ts,json}
  prettier: any of: *.{tsx,ts,json,md,yml,yaml}
